.container {
    height: 100vh;
    display: flex;
    background-color: aqua;
}

.container > aside {
    background: url("assets/background.jpg");
    background-size: 100vh;
    flex: 1;
}

.main-content {
    background-color: aquamarine;
    flex: 2;
}