/* Fonts */
@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.container {
    height: 100vh;
    display: flex;
    background-color: aqua;
}

/* Side image */
.container > aside {
    background: url("./assets/background.jpg");
    background-size: 100vh;
    flex: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    height: 150px;
    background-color: #0006;
}

.container-logo p {
    font-family: 'norsebold';
    font-size: 6rem;
}

.container-logo .logo {
    height: 80%;
}

.image-credits {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;   
}

.image-credits a {
    color: #fff;
}

/* Form section */
.main-content {
    background-color: aquamarine;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.form-head {
    background-color: #f9fafb;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.form-body {
    height: 30%;
}

.form-action {
    flex: 1;
}